{% extends "base.html" %}

{% block content %}
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <div class="d-none d-sm-inline-block">
            <a href="#" class="btn btn-sm btn-success shadow-sm" id="start-indexing-btn"><i
                class="fas fa-trash fa-sm text-white-50"></i> Start indexing</a>
            <a href="#" class="btn btn-sm btn-danger shadow-sm ml-3" id="delete-index-btn"><i
                class="fas fa-trash fa-sm text-white-50"></i> Delete index</a>
        </div>
        
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Pokemon in database Card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Pokemon in database</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ pokemon_in_db }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Pokemon in elastic</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="pokemon-in-elastic">{{ pokemon_in_elastic }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Indexed images
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ indexed_images_percentage }} %</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar"
                                            style="width: {{ indexed_images_percentage }}%" aria-valuenow="{{ indexed_images_percentage }}" aria-valuemin="0"
                                            aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Pending images</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ pokemon_in_db - pokemon_in_elastic }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->

    <div class="row">

        <!-- Search Image Area -->
        <div class="col-xl-4 col-lg-4">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Search Image</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <form id="upload-file" method="post" enctype="multipart/form-data">
                        <p><input type="file"  accept="image/*" name="file" id="file"  onchange="loadFile(event)" style="display: none;"></p>
                        <a href="#" style="display:none" class="btn btn-sm btn-warning shadow-sm float-right" id="upload-file-btn" type="button"><i
                            class="fas fa-trash fa-sm text-white-50"></i> Search</a>
                        <p><label for="file" style="cursor: pointer;">Upload Image</label></p>
                        <p><img id="output" width="200" src="{{ searched_image }}"/></p>
                    </form>
                </div>
            </div>
        </div>

        <!-- Results Area -->
        <div class="col-xl-8 col-lg-8">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Related images</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="spinner" style="display: none;"></div>
                    <div id="results" style="display: none">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 text-center">
                                <p><img id="result_image_1" width="200" src=""/></p>
                                <strong><p id="result_name_1"></p></strong>
                                <p id="result_score_1"></p>
                            </div>
                            <div class="col-xl-6 col-lg-6 text-center">
                                <p><img id="result_image_2" width="200" src=""/></p>
                                <strong><p id="result_name_2"></p></strong>
                                <p id="result_score_2"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 text-center">
                                <p><img id="result_image_3" width="200" src=""/></p>
                                <strong><p id="result_name_3"></p></strong>
                                <p id="result_score_3"></p>
                            </div>
                            <div class="col-xl-6 col-lg-6 text-center">
                                <p><img id="result_image_4" width="200" src=""/></p>
                                <strong><p id="result_name_4"></p></strong>
                                <p id="result_score_4"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
{% endblock %}

{% block scripts %}
<!-- Indexing scripts -->
<script src="js/indexing.js"></script>

<script>
    var loadFile = function(event) {
        $("#upload-file-btn").show()
        $("#output").attr("src", URL.createObjectURL(event.target.files[0]));
    };
</script>
{% endblock %}
